body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
}

h1 {
    text-align: center;
    color: #4d7ab3;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 237, 247);
    box-shadow: 5px 10px 40px #4d7ab3;
    padding: 30px;
}

.search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    outline: none;
    border: 2px solid #94BBE9;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.li-container {
    background-color:rgb(243, 237, 247);
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #D1759B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 5px 15px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: #bd5b84;
}

.btn-add {
    padding: 5px 15px;
    border: none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: fantasy;
    background-color: #94BBE9;
    font-size: 1.4rem;
    outline: none;
}

.btn-add:hover {
    cursor: pointer;
    background-color: #6B98CF;
}

.empty {
    color: rgb(104, 152, 184);
}